body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/papel-antiguo-7550872.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100% 100vh;
}

.home {
  text-align: center;
}

#HomeDash {
  display: flex;
  align-items: stretch;
  height: 80vh;
}

#Map {
  flex: 10
}

#Strip {
  flex: 1 1 5vw;
  
}

#Dash {
  flex-direction: row;
  flex: 10;
  background-color: gold;
  border: 1px solid white;
  opacity: 0.5;
  position: absolute;
  height: 80vh;
  right: 0;
  z-index: 100;
  overflow: scroll;
}

#Dash.closed {
  width: 5vw;
  transition: width 2s;
}
#Dash.active {
  width: 80vw;
  transition: width 2s;
}

#Dash:hover {
  opacity: 0.8;
}


.marker {
  background-image: url('https://cdn3.iconfinder.com/data/icons/glypho-travel/64/history-castle-tower-512.png');
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.rec {
  background-color: pink;
  border: 2px, solid, black
}

#profile {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: gold;
  opacity: 0.5;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

#profile:hover {
  opacity: 0.8;
  border: 1px solid white
}

#newUser {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#kingdoms {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: rgba(247, 240, 240, 0.144);
  opacity: 0.5;
  position: fixed;
  top: 140px;
  left: 20px;
  z-index: 100;
}

#nav {
  position: fixed;
  top: 1vh;
  right: 100px;
  z-index: 100;
}

#logo {
  position: fixed;
  top: 2vh;
  left: 10px;
  z-index: 100;
}

#kingdoms:hover {
  opacity: 0.8;
  border: 1px solid white
}
