body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/papel-antiguo-7550872.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100% 100vh;
}

h1, h2, h3 {
  text-align: center;
}

.home {
  text-align: center;
}

#HomeDash {
  height: 80vh;
  position: static;
}

#Map {
  flex: 10
}

#Strip {
  flex: 1 1 5vw;
}

#Dash {
  flex-direction: row;
  flex: 10;
  background-color: gold;
  border: 4px solid white;
  opacity: 0.7;
  position: absolute;
  /* height: 80vh; */
  width: 100%;
  left: 13vh;
  z-index: 100;
  overflow: scroll;
}

#Dash.closed {
  height: 0vw;
  transition: height 0.55s;
}
#Dash.active {
  height: 100%;
  transition: height 0.55s;
}

#Dash:hover {
  opacity: 0.8;
}


#Spotlight {
  position: absolute;
  height: 50vh;
  width: 100vw;
  text-align: center;
  bottom: 1vh;
  opacity: 0.9;
  z-index: 200;
  background-color: whitesmoke;
  border:  3px solid rgba(255, 68, 0, 0.543);
  border-radius: 2vh;
}

#Spotlight:hover {
  border: 3px solid orangered;
}

.circle {
  display: flex;
  align-content: center;
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 70px;
  opacity: 0.4;
  position: fixed;
  z-index: 100;
  left: 3vw;
}

.circle:hover{
  opacity: 0.8;
  border: 2px solid rgb(255, 255, 255);
}

#sword{
  /* background-color: gold; */
  top: 10vh;
  flex: 1 1;
  display: flex;
  align-content: center;
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 70px;
  opacity: 0.4;
  position: fixed;
  z-index: 100;
  left: 3vw;
}

#sword.off{
  background-color: whitesmoke;
  
}



#sword.on{
  background-color: gold;
  border: 1px solid orangered;
  opacity: 0.6;
  transition: background-color 5s;
}

#gem{
  background-color: rgba(189, 39, 39, 0.4);
  top: 25vh;
  flex: 1 1;
}

#castle {
  background-color: rgba(205, 134, 63, 0.4);
  top: 40vh;
  flex: 1 1;
}

#shield {
  background-color: rgba(128, 0, 128, 0.4);
  top: 55vh;
  flex: 1 1;
}

#logout {
  background-color: #c52830e1;
  top: 70vh;
  flex: 1 1;
}

#newUser {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#nav {
  position: fixed;
  top: 1vh;
  right: 80px;
  z-index: 100;
}

#logo {
  position: fixed;
  left: 25vw;
  top: -4vh;
  z-index: 100;
  font-size: 150%;
}

.marker {
  background-image: url('https://cdn3.iconfinder.com/data/icons/glypho-travel/64/history-castle-tower-512.png');
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.rec {
  background-color: pink;
  border: 2px solid black;
}

#profile {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: gold;
  opacity: 0.5;
  position: fixed;
  top: 20vh;
  left: 5vw;
  z-index: 100;
}
