body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/papel-antiguo-7550872.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100% 100vh;
}

h1, h2, h3 {
  text-align: center;
}

input {
  height: 2vh;
  margin: 0.5vh 0 0.5vh 0;
  width: 200px;
  text-align: center;
}

.home {
  text-align: center;
}

.space {
  margin-top: 2vh;
}

.fit {
  margin: 0 auto 0 auto;
  font-weight: bold;
  max-width: 700px;
  text-align: center;
}

#change-kingdom-img {
  max-width: 100vw;
  height: 35vh;
  margin: 1vh 0 1vh 0;
}

#about {
  font-family: Apple Chancery, cursive;
}

#home-img{
  max-width: 100vw;
  height: 35vh;
}

#HomeDash {
  height: 80vh;
  position: static;
}

#Map {
  flex: 10
}

#Strip {
  flex: 1 1 5vw;
}

#Dash {
  flex-direction: row;
  flex: 10;
  background-color: gold;
  border-left: 4px solid white;
  opacity: 0.7;
  position: absolute;
  /* height: 80vh; */
  width: 72%;
  right: 0;
  z-index: 100;
  overflow: scroll;
}

#Dash.closed {
  height: 0vw;
  transition: height 0.55s;
}
#Dash.active {
  height: 100%;
  transition: height 0.55s;
}

#Dash:hover {
  opacity: 0.8;
}


#Spotlight {
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  min-height: 35vh;
  width: 98%;
  margin: 2px;
  text-align: center;
  bottom: 0.1vh;
  opacity: 0.9;
  z-index: 200;
  background-color: whitesmoke;
  border:  3px solid rgba(255, 68, 0, 0.543);
  border-radius: 2vh;
}

#Spotlight:hover {
  border: 3px solid orangered;
}

.spot{
  flex: 1 1 2vh;
}
#Ticker{
  position: absolute;
  top: 0;
  right: 1.5vw;
  max-width: 70%;
}

.tickerTape{
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: moccasin;
  opacity: 0.85;
}

.tickerTape-enter{
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: moccasin;
  opacity: 0;
}

.tickerTape-enter.tickerTape-enter-active {
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: moccasin;
  opacity: 0.85;
  transition: opacity 3s ease-in;
}

.tickerTape-leave{
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: moccasin;
  opacity: 0.75;
}
.tickerTape-leave.tickerTape-leave-active{
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: moccasin;
  opacity: 0;
  transition: opacity 2s ease-in;
}

.tickerTape:hover{
  opacity: 1;
  color: coral;
  font-size: 20px;
}

.circle {
  display: flex;
  align-content: center;
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 70px;
  opacity: 0.4;
  position: fixed;
  z-index: 100;
  left: 2.5vw;
}

.circle:hover{
  opacity: 0.8;
  border: 2px solid rgb(255, 255, 255);
}

.blip{
  flex: 1 1;
  margin: auto;
  max-width: 65%;
  height: auto;
}

#sword{
  /* background-color: gold; */
  top: 6vh;
  flex: 1 1;
  display: flex;
  align-content: center;
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 70px;
  opacity: 0.4;
  position: fixed;
  z-index: 100;
  left: 3vw;
}

#sword.off{
  background-color: whitesmoke;
}


.establishmentCard{
  border: 2px solid gold;
  border-radius: 10px;
  position: absolute;
  width: 20vw;
  text-align: center;
  align-content: center;
  background-color: moccasin;
  z-index: 10;
  color: black;
  left: 3vw;
  font-family: Apple Chancery, cursive;
  top: -100;
  left: -17;
  padding-top: 6px;
  padding-bottom: 8px;
}

.powerButtonEst{
  padding: 4px;
  border: 2px solid orange;
  border-radius: 6px;
  font-size: 10px;
}

#sword.on{
  background-color: gold;
  border: 1px solid orangered;
  opacity: 0.8;
  transition: background-color 5s;
}

#gem{
  background-color: rgba(189, 39, 39, 0.4);
  top: 18vh;
  flex: 1 1;
}

#castle {
  background-color: rgba(205, 134, 63, 0.4);
  top: 30vh;
  flex: 1 1;
}

#shield {
  background-color: rgba(128, 0, 128, 0.4);
  top: 42vh;
  flex: 1 1;
}

#logout {
  bottom: 4vh;
  color: red;
  opacity: 0.3;
  position: fixed;
  z-index: 100;
  left: 2.5vw;
}

#logout:hover {
  opacity: 0.5;
  height: 70px;
  width: 70px;
  border: 2px solid whitesmoke;
  border-radius: 70px;
}

#nav {
  position: fixed;
  top: 1vh;
  right: 80px;
  z-index: 100;
}

#logo {
  position: fixed;
  left: 25vw;
  top: -1vh;
  z-index: 100;
  font-size: 150%;
  font-family: Apple Chancery, cursive;
  text-align: center;
  font-size: 36px;
}


.marker {
  background-image: url('https://cdn3.iconfinder.com/data/icons/glypho-travel/64/history-castle-tower-512.png');
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.rec {
  background-color: white;
  /* border: 2px solid black; */
}

#profile {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: gold;
  opacity: 0.5;
  position: fixed;
  top: 20vh;
  left: 5vw;
  z-index: 100;
}

.checkIn{
  width: 20px;
  height: auto;
}

.escape{
  position: absolute;
  top: 0.5vh;
  right: 0.5vw;
  border: 2px solid orange;
  border-radius: 8px;
  padding: 4px;
}

.letterButton{
  font-size: 20px;
}

.simpleButton{
  background: none;
  border: none;
}

.powerButton{
  padding: 8px;
  border: 2px solid salmon;
  border-radius: 4px;
  font-size: 24px;
}

.listicle{
  display: block;
  border-bottom: 2px solid whitesmoke;
  height: 5vh;
  padding: 1vh;
}

.queryRec{
  font-size: 14px;
  text-decoration: none;
  color: rgb(10, 2, 80)
}

.subHeader{
  font-size: 12px;
  color: rgb(75, 74, 74)
}
