body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#Map {
  flex: 10
}

#Dash {
  flex: 4;
  background-color: goldenrod
}

#a {
  display: flex;
  flex-direction: row;
}

.marker {
  background-image: url('https://cdn3.iconfinder.com/data/icons/glypho-travel/64/history-castle-tower-512.png');
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
