body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/papel-antiguo-7550872.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100% 100vh;
}
h1, h2, h3 {
  text-align: center;
}

.home {
  text-align: center;
}

#HomeDash {
  height: 80vh;
  position: static;
}

#Map {
  flex: 10
}

#Strip {
  flex: 1 1 5vw;

}

#Dash {
  flex-direction: row;
  flex: 10;
  background-color: gold;
  border: 1px solid white;
  opacity: 0.5;
  position: absolute;
  height: 80vh;
  right: 0;
  z-index: 100;
  overflow: scroll;
}

#Dash.closed {
  width: 5vw;
  transition: width 2s;
}
#Dash.active {
  width: 80vw;
  transition: width 2s;
}

#Dash:hover {
  opacity: 0.8;
}


.marker {
  background-image: url('https://cdn3.iconfinder.com/data/icons/glypho-travel/64/history-castle-tower-512.png');
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.rec {
  background-color: pink;
  border: 2px, solid, black;
}

#logout {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 94vh;
  left: 10vw;
  z-index: 100;
}

#profile {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: gold;
  opacity: 0.5;
  position: fixed;
  top: 35vh;
  left: 5vw;
  z-index: 100;
}

#kingdoms {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: rgba(247, 240, 240, 0.144);
  opacity: 0.5;
  position: fixed;
  top: 50vh;
  left: 5vw;
  z-index: 100;
}

#castle {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: rgba(128, 128, 128, 0.315);
  opacity: 0.5;
  position: fixed;
  top: 65vh;
  left: 5vw;
  z-index: 100;
}

#castle:hover {
  opacity: 0.8;
  border: 1px solid rgb(255, 255, 255)
}

#shield {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: rgba(128, 0, 128, 0.479);
  opacity: 0.5;
  position: fixed;
  top: 80vh;
  left: 5vw;
  z-index: 100;
}

#shield:hover {
  opacity: 0.8;
  border: 1px solid rgba(51, 48, 48, 0)
}

#newUser {
  align-items: center;
  justify-content: center;
  text-align: center;
}


#nav {
  position: fixed;
  top: 1vh;
  right: 80px;
  z-index: 100;
}

#logo {
  position: fixed;
  left: 25vw;
  top: -4vh;
  z-index: 100;
  font-size: 150%;
}

#kingdoms:hover {
  opacity: 0.8;
  border: 1px solid white
}

#Spotlight {
  position: absolute;
  height: 30vh;
  width: 80vw;
  text-align: center;
  bottom: 75px;
  opacity: 0.75;
  z-index: 200;
  background-color: whitesmoke;
  border:  5px, solid, orangered;
  border-radius: 2vh;
}
